<mat-list>
  <h2 matSubheader>Posts</h2>  
  <mat-list-item *ngFor="let post of posts">
    <p matLine>
      <span>{{post.id}}</span>
      <span> - {{post.title}}</span>
    </p>
    <p matLine>{{post.body}}</p>
  </mat-list-item>
</mat-list>